DATABASE_URL=postgres://postgres:password123@127.0.0.1:5432/umkm_pos
SESSION_SECRET=umkm-pos-demo-session-secret-32chars
TZ=Asia/Jakarta
NEXT_PUBLIC_IMAGE_DRIVER=local
# NEXT_PUBLIC_IMAGE_DRIVER=supabase
# NEXT_PUBLIC_SUPABASE_URL=
# NEXT_PUBLIC_SUPABASE_ANON_KEY=
